/* All the styles for our website */

/* Main page's slider */
.carousel-item {
	max-height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}

/* All the sections in main page */
#about div.container {
	padding-top: 40px;
	padding-bottom: 40px;
}

#about div.container h2 {
	text-align: center;
	font-family: none;
	font-size: 48px;
	color: #4a4a4a;
}

#about div.container hr {
	width: 35px;
    border-top: 4px solid #26a1b5;
}

#about div.container p {
	font-size: 18px;
	color: #4a4a4a;
	text-align: center;
}

#support {
	background-color: #1a262b;
}

#support div.container {
	padding-top: 40px;
	padding-bottom: 40px;
}

#support div.container h2{
	color: #ffffff;
}

#support div.container .btn {
	float: right;
}

#support div.container .table {
	margin-top: 20px;
	color: #ffffff
}

#contact div.container {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* login page styles */
.login {
	padding-top: 40px;
}